/*Меню*/
ul{
    margin:0;
    padding:0;
    list-style: none;
    
}
.menu {
    width:250px;
    font:2em arial;
}
li {
    background: gray;
    color: white;
    padding: 10px;
}
.nav li{
    border-bottom: 1px solid black;
}
